* {
    font-family: -apple-system,BlinkMacSystemFont,"SF Pro SC","SF Pro Text","Helvetica Neue",Helvetica,"PingFang SC","Segoe UI",Roboto,"Hiragino Sans GB",'arial','microsoft yahei ui',"Microsoft YaHei",SimSun,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.yd-group {
    width:1200px;
    margin: 0 auto;
}
body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Microsoft Yahei", "å¾®è½¯é›…é»‘", "Tahoma", "Arial", "Helvetica";
}

/*  home public header css start */
.zui-header-wrap {
    width: 100%;
    background:rgba(255,255,255,1);
    /* border-bottom: 1px solid rgba(255,255,255,0.2); */
}

.zui-header {
    position: relative;
    line-height: 62px;
    height: 62px;
    /* width: 1180px; */
    padding: 0 60px;
    font-size: 14px;
    color: #191C3D;
    z-index: 1000;
    margin: auto;
}

.zui-header a,
.case-item-op a {
    text-decoration: none;
    display: inline-block;
}

.zui-header a {
    color: rgba(51,51,51,1);;
    font-weight: 400;
    font-size: 14px;
}

.zui-header ul {
    list-style-type: none;
}

.zui-header ul li {
    float: left;
    text-align: left;
}

.zui-header-logo {
    float: left;
    line-height: 0;
}

.zui-header-logo-img {
    position: relative;
    top: 12px;
    width: 169px;
    height: 28px;
}

.zui-header-menu {
    position: relative;
    margin-left: 70px;
    padding-left: 0;
}

.zui-header-menu-item-dropdown {
    position: relative;
}

.zui-header-menu-item-dropdown:hover > .zui-header-inner-menu {
    display: block;
}

/*  public header - dropdown end */

.zui-header-inner-nav {
    position: absolute;
    background: #fff;
    box-sizing: border-box;
    height: auto;
    padding: 14px 0;
    z-index: 1001;
    top: 60px;
    -webkit-box-shadow:0px 4px 10px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.11);
    display: none;
}

.zui-header-inner-nav li {
    line-height: normal;
    height: auto;
    /* padding: 0; */
    text-align: center;
    /* width: 220px; */
    /* padding: 0 40px; */
    width: auto;
}

.zui-header-inner-nav li a {
    color: #FFF;
    opacity: .8;
    filter: alpha(opacity=80);
    font-size: 14px;
    line-height: 36px;
    padding: 0;
    display: block;
    height: 36px;
    padding: 0 40px;
    text-decoration: none;
}

.zui-header-inner-nav li a:hover {
    color: #2467F2 !important;
    text-decoration: none;
}

.zui-header-inner-nav li h3 {
    font-size: 14px;
    font-weight: normal;
    color: #999;
    line-height: 30px;
}

.zui-header-inner-nav li ul {
    margin: 0;
    height: auto;
    padding: 5px 0 0 0;
}

.zui-header-inner-nav li ul li {
    float: none;
    margin: 0;
    line-height: 24px;
    padding: 0;
}

.zui-header-menu-item:hover>.zui-header-inner-nav {
    display: block;
}

.service-nav {
    left: -42px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.service-nav li {
    float: none;
    margin-bottom: 0;
    line-height: 17px;
}

.service-nav li a {
    font-size: 14px;
    color: #fff;
    /* line-height: 20px; */
    opacity: 1;
    filter: alpha(opacity=100);
}

.solution-nav {
    left: -85px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.solution-nav li {
    float: none;
    margin-bottom: 0;
    line-height: 36px;
    height: 36px;
}

.solution-nav li a {
    font-size: 14px;
    color: #191C3D;
    /* line-height: 20px; */
    text-align: center !important;
    opacity: 1;
    width: 160px;
    filter: alpha(opacity=100);
    /* #2467F2 */
}
.solution-nav li a:hover {
    color:#2467F2;
}
.data-nav {
    left: -43px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.data-nav li {
    float: none;
    margin-bottom: 0;
    height: 36px;
    line-height: 36px;
}

.data-nav li a {
    font-size: 14px;
    color: #191C3D;
    /* line-height: 20px; */
    text-align: center !important;
    opacity: 1;
    width: 60px;
    filter: alpha(opacity=100);
    /* #2467F2 */
}
.contact-nav li a:hover {
    color:#2467F2;
}
.contact-nav {
    left: -43px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contact-nav li {
    float: none;
    margin-bottom: 0;
    height: 36px;
    line-height: 36px;
}

.contact-nav li a {
    font-size: 14px;
    color: #191C3D;
    /* line-height: 20px; */
    text-align: center !important;
    opacity: 1;
    width: 70px;
    filter: alpha(opacity=100);
    /* #2467F2 */
}
.contact-nav li a:hover {
    color:#2467F2;
}
/* 
.solution-nav {
    min-width: 400px;
    max-width: 730px;
    padding: 5px 30px 30px 0;
    margin-left: -48px;
}

.solution-nav>li {
    margin-left: 30px;
    padding-left: 20px;
    margin-top: 30px;
    width: 150px;
    border-left: 1px solid #35353D;
}

.solution-nav>li:first-child {
    border-left: 0;
}

.solution-nav>li ul li {
    width: 150px;
    margin-top: 6px;
} */

/*  public header - dropdown end */

.zui-header-op {
    float: right;
    margin-right: 30px;
}

.zui-header-op .separator {
    color: #eee;
}

.zui-header-op-item {
    color: rgba(51,51,51,1);
    font-size: 14px;
    opacity: .8;
    cursor:pointer;
}

.zui-header-op-item:hover {
    color: #2467F2;
}

.zui-header-menu-item {
    color: #d4ebf2;
    text-align: center;
    margin-left: 40px;
    /* border-bottom: 2px solid #000; */
    /* box-sizing: border-box; */
}



.zui-header-menu-item:first-child {
    width: 55px;
    margin-left: 10px;
    margin-right: -10px;
}

.zui-header-inner-menu-item {
    line-height: 20px;
    min-height: 20px;
    width: auto;
    box-sizing: border-box;
    color: #d4ebf2;
    text-align: center;
    box-sizing: border-box;
}
.zui-header ul .zui-header-inner-menu-item {
    display: list-item;
}
.zui-header-inner-menu-item > a {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}

#js_pass_console_btn {
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
}

/*  home public header css end  */

/* footer */
.bui-footer-wrap {
    min-width: 1200px;
    background: #37405E;
    font-family: "Microsoft Yahei", "å¾®è½¯é›…é»‘", "Tahoma", "Arial", "Helvetica";
    text-align: center;
}

.bui-footer-row {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
    width: 1200px;
    max-width: 1100px;
}

/* .bui-footer-row .item-group:nth-child(2) {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33%;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #2e2e3c;
    margin-left: 0;
    padding-left: 14.5%;
} */

.bui-footer-row .item-group {
    width: 296px;
    float: left;
    text-align: left;
}

.bui-footer-row .item-group {
    color: #fff;
    display: block;
    line-height: 26px;
}

.bui-footer-row .item {
    color: #6b6d76;
    display: block;
    line-height: 26px;
}

.bui-footer-row .item-group .item .Hui-iconfont {
    font-size: 20px;
}

.bui-footer-row .item-group a {
    color:#8B90AA;
}

.bui-footer-row .item-group a:hover {
    color: #ccc;
}

.bui-footer-row.bottom {
    /* background: #222231; */
    color: #8B90AA;
    line-height: 26px;
}

.bui-footer-row .item-group .category {
    font-size: 15px;
    padding-bottom: 10px;
    color: #eee;
}
.bui-footer-row.bottom a {
    color: #8B90AA;
}
.bui-footer-row.bottom a:hover {
    color: #ccc;
}


.yui-footImgBox {
    width: 150px;
    text-align: center;
}
.yui-footImgBox img {
    width: 150px;
    height: 150px;
}
.yui-footImgBox p {
    text-align: center;
    color:#8B90AA;
    font-size: 14px;
}
/*  home public css  */

.zui-btn,
.bui-btn {
    display: inline-block;
    line-height: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
    padding: 0 30px;
}

.zui-btn-white,
.bui-btn.js-popup-cancel {
    border: 1px solid #3999fa;
    background: #fff;
    color: #3999fa;
}

.zui-btn-white:hover {
    color: #3999fa;
    background-color: #ebf5fe;
}

.zui-btn-green,
.bui-btn.js-popup-confirm
{
    border: 1px solid #489af0;
    background: #489af0;
    color: #fff;
}

.zui-btn-green:hover {
    color: #fff;
    background: #2182e9;
}

.zui-section {
    width: 100%;
}


/*  index css  */

.zui-section.section-banner {
    height: 400px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#3999FA,endColorStr=#53A7FD); /*IE 6 7 8*/
    background: url(/mark/static/img/zhongbao/base/banner_bg.png) center no-repeat, -ms-linear-gradient(top, #0b5ba8, #0b5ba8);        /* IE 10 */
    background: url(/mark/static/img/zhongbao/base/banner_bg.png) center no-repeat, -moz-linear-gradient(top,#0b5ba8,#0b5ba8);/*Ã§ÂÂ«Ã§â€¹Â*/
    background: url(/mark/static/img/zhongbao/base/banner_bg.png) center no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%,from(#0b5ba8), to(#0b5ba8));/*Ã¨Â°Â·Ã¦Â­Å’*/
    background: url(/mark/static/img/zhongbao/base/banner_bg.png) center no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0b5ba8), to(#0b5ba8));      /* Safari 4-5, Chrome 1-9*/
    background: url(/mark/static/img/zhongbao/base/banner_bg.png) center no-repeat, -webkit-linear-gradient(top, #0b5ba8, #0b5ba8);   /*Safari5.1 Chrome 10+*/
    background: url(/mark/static/img/zhongbao/base/banner_bg.png) center no-repeat, -o-linear-gradient(top, #0b5ba8, #0b5ba8);  /*Opera 11.10+*/
}

.zui-banner-slide {
    left: 50%;
    width: 1100px;
    margin-left: -550px;
}

.zui-banner-slide .banner_img {
    position: absolute;
    right: 0;
    top: 30px;
}

.zui-banner-slide .text-block {
    position: absolute;
    top: 89px;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    -webkit-animation: re-banner-slide-40 .8s;
    animation: re-banner-slide-40 .8s;
}
.zui-banner-slide .text-block .banner-separator {
    height: 1px;
    width: 502px;
    background-color: #83ACD6;
    display: inline-block;
    margin: 20px 0 15px 0;
}

.zui-banner-slide .text-block ul {
    width: 550px;
    height: 36px;
    background: url(/mark/static/img/zhongbao/base/banner_li_background.png) no-repeat;
}

.zui-banner-slide .text-block ul li {
    float: left;
    font-size: 14px;
    text-align: center;
    margin-right: 20px;
    line-height: 20px;
}

.zui-banner-slide .text-block p:nth-child(1) {
    font-size: 54px;
    line-height: 54px;
    color: #FFF;
}
.zui-banner-slide .text-block p:nth-child(2) {
    font-size: 40px;
    line-height: 85px;
    margin-bottom: 15px;
}
.zui-banner-slide .text-block p:nth-child(3) {
    font-size: 22px;
    line-height: 40px;
}
.zui-banner-slide .text-block p:nth-child(4) {
    font-size: 22px;
    line-height: 40px;
}

.zui-banner-slide .text-block p:nth-child(3) a {
    color: #fff;
    border-bottom: 1px solid;
}
.zui-banner-slide .text-block p:nth-child(3) a:hover {
    color: #EEE;
    border-bottom: 1px solid;
    cursor:pointer;
}

.zui-banner-slide .contact {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    top: 43px;
    right: -24px;
    width: 500px;
    height: 400px;
    background: url(/mark/static/img/zhongbao/new/banner_right.png) center no-repeat;
}

.zui-banner-slide .contact p{
    font-size: 24px;
    text-align:center;
    margin-top: 40px;
}

.zui-banner-slide .contact-text:nth-child(2) {
    font-size: 16px;
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
    color: #666;
    display: inline-block;
}
.zui-banner-slide .contact-text:nth-child(3) {
    font-size: 16px;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    color: #666;
    display: inline-block;
}
.zui-banner-slide .need_custom {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ff8244;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 30px;
    margin-left: 60px;
}

.zui-section.section-steps {
    height: 100px;
    background: #2585eb;
    color: #fff;
    font-size: 16px;
}

.zui-section.section-func {
    background-color: #f9f9f9;
    padding-bottom: 45px;
}

.zui-section.section-custom {
    padding-bottom: 60px;
}

.steps-wrap,
.custom-wrap,
.function-wrap,
.customer-case-wrap {
    width: 1100px;
    min-height: 30px;
    margin: auto;
}

.steps-wrap .step-item {
    float: left;
    height: 100px;
    padding: 23px 0 22px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.step-item > div {
    display: inline-block;
    height: 55px;
    line-height: 55px;
    vertical-align: top;
}

.step-icon {
    width: 55px;
    margin: 0 17px 0 0;
    background-repeat: no-repeat;
    background-image: url(/mark/static/img/zhongbao/new/steps_icon_all.png);
}

.step-icon.design {
    background-position: 0 0;
}

.step-icon.data {
    background-position: -55px 0;
}

.step-icon.publish {
    background-position: -110px 0;
}

.step-icon.result {
    background-position: -165px 0;
}

.step-connector {
    float: left;
    margin: 25px 60px;
    width: 50px;
    height: 50px;
    background-image: url(/mark/static/img/zhongbao/new/steps_icon_all.png);
    background-position: -220px 0;
    background-repeat: no-repeat;
}

.custom-wrap {
    width: 1100px;
    margin: 0 auto;
    margin-top: 50px;
}

.custom-wrap p {
    font-size: 18px;
    color: #333;
    text-align: center;
    line-height: 30px;
    margin-bottom: 30px;
}
.custom-wrap label {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
    color: #999;
}
.custom-item {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 230px;
    height: 210px;
    border: 1px solid;
    border-color: #ddd;
}
.custom-item-next {
    display: inline-block;
    background-image: url(/mark/static/img/zhongbao/newly/next.png);
    margin: auto;
    width: 30px;
    height: 80px;
    background-repeat: no-repeat;
    margin-left: 20px;
}
.custom-item-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-image: url(/mark/static/img/zhongbao/newly/custom_service.png);
    margin-left: 60px;
    margin-top: -50px;
}

.custom-item-icon.mark {
    background-position: -100px 0;
}

.custom-item-icon.verify {
    background-position: -200px 0;
}

.custom-item-icon.data {
    background-position: -300px 0;
}

.assurance-item-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-image: url(/mark/static/img/zhongbao/newly/quality_assurance.png);
    margin-left: 80px;
}

.assurance-item-icon.user {
    background-position: -80px 0;
}

.assurance-item-icon.professional {
    background-position: -160px 0;
}

.assurance-item-icon.quality {
    background-position: -240px -0px;
}

.assurance-item {
    display: inline-block;
    width: 230px;
    height: 180px;
    margin-right: 42px;
    vertical-align: top;
    color: #666;
}

.assurance-item p {
    display: block;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
}

.assurance-item-platform {
    margin-top:10px;
    text-align: center;
}

.assurance-item a {
    line-height: 30px;
    color: #52a7fd;
}

.assurance-wrap {
    width: 1100px;
    margin: auto;
    padding-bottom: 80px;
}

.header-text-block {
    padding: 65px 0 30px;
    text-align: center;
    color: #666;
}
.footer-text-block {
    padding: 45px 0 30px;
    text-align: center;
    color: #666;
}

.footer-text-block {
    padding: 65px 0 150px;
    font-size: 15px;
}

.footer-text-block a:hover {
    color: #52a7fd;
}

.header-text-block .main-title {
    font-size: 30px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    color: #666666;
}

.header-text-block .main-title-white {
    font-size: 30px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    color: #FFFFFF;
}

.header-text-block .main-title-black {
    font-size: 30px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    color: #333;
}

.header-text-block .sub-title {
    font-size: 14px;
}

.header-text-block .title-separator {
    height: 3px;
    width: 50px;
    background-color: #4DA5FF;
    display: inline-block;
    margin: 15px 0 36px;
}

.header-text-block .title-separator-white {
    height: 3px;
    width: 50px;
    background-color: #FFF;
    display: inline-block;
    margin: 18px 0 36px;
}

.function-item {
    display: inline-block;
    padding-left: 69px;
    width: 203px;
    color: #666;
    font-size: 18px;
}

.function-item-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-image: url(/mark/static/img/zhongbao/new/function_icons.png);
}

.function-item-icon.data {
    background-position: -100px;
}

.function-item-icon.content {
    background-position: -200px;
}

.function-item-icon.feedback {
    background-position: -300px;
}

.function-item p {
    padding-left: 10px;
    padding-bottom: 18px;
}

.function-item ul {
    padding-left: 10px;
    font-size: 14px;
    list-style-type: disc;
    margin-left: 20px;
}

.function-item ul li {
    padding-bottom: 12px;
}

.zui-section.section-case {
    background-color: #f9f9f9;
}

.customer-case-wrap {
    padding-bottom: 70px;
}

.customer-case-wrap .corporation-item {
    background-color: #fff;
    border: 1px solid #fff;
    height: 110px;
    width: 180px;
    margin-right: 3%;
    display: inline-block;
}

.customer-case-wrap .corporation-item:last-child {
    margin-right: 0;
}

.customer-case-wrap .corporation-item:hover {
    border-color:#c7e3ff;
    cursor:pointer;
}

.customer-case-wrap .corporation-item .case-item-header {
    background-image: url(/mark/static/img/zhongbao/newly/audio.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 110px;
    width: 180px;
}

.customer-case-wrap .corporation-item:nth-child(2) .case-item-header {
    background-image: url(/mark/static/img/zhongbao/newly/BigData.png);
}

.customer-case-wrap .corporation-item:nth-child(3) .case-item-header {
    background-image: url(/mark/static/img/zhongbao/newly/IDL.png);
}

.customer-case-wrap .corporation-item:nth-child(4) .case-item-header {
    background-image: url(/mark/static/img/zhongbao/newly/NLP.png);
}

.customer-case-wrap .corporation-item:nth-child(5) .case-item-header {
    background-image: url(/mark/static/img/zhongbao/newly/nuomi.png);
}

/*  scene and case css*/

.case-header {
    position: relative;
    height: 200px;
    background: #00b5d8;
    color: #fff;
    font-size: 14px;
    min-width: 1100px;
}

#case_header_bg_img {
    position: absolute;
    min-width: 1920px;
    bottom: 0;
    width: 100%;
    max-height: 200px;
    height: 200px;
}

.case-header .text-block {
    position: relative;
    width: 720px;
    left: 50%;
    margin-left: -360px;
    text-align: center;
    top: 30px;
}

.case-instance {
    width: 1100px;
    margin: auto;
    margin-top: 40px;
    min-height: 500px;
}

.case-instance-header {
    padding-bottom: 30px;
    border-bottom: 1px dashed #ddd;
    text-align: center;
}

.case-instance-header-button {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    width: 198px;
    background-color: #3999fa;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #3999fa;
}

.case-instance-header-button:hover {
    color: #fff;
    background-color: #0999fa;
}

.case-instance-header-button.light {
    margin-left: 20px;
    background-color: #ebf5fe;
    color: #3999fa;
}

.case-instance-header-button.light:hover {
    background-color: #fff;
}

.case-instance .case-item {
    border-bottom: 1px solid #efefef;
}

.case-instance .case-item:last-child,
.case-instance .case-item.fill {
    border-bottom: 0;
}

.case-instance .case-item.hide,
.hide {
    display: none;
}

.case-nav {
    position: fixed;
    font-size: 14px;
}

.case-nav .case-nav-list li {
    width: 190px;
    height: 14px;
    line-height: 14px;
    padding: 9px 10px;
    color: #666;
    cursor: pointer;
    border-left: 2px solid #fff;
}

.case-nav .case-sub-nav-list.hide {
    display: none;
}

.case-nav .case-nav-list .active,
.case-nav .case-nav-list li:hover {
    background-color: #f9f9f9;
    border-left: 2px solid #489af0;
    color: #333;
}

.case-detail {
    width: 760px;
    margin-left: 340px;
}

.case-item {
    position: relative;
    padding-bottom: 60px;
    margin: 40px 0;
}

.case-item-name {
    color: #333;
    font-size: 24px;
    margin-bottom: 5px;
}

.case-item-description {
    width: 335px;
    color: #666;
    line-height: 20px;
    margin-bottom: 40px;
}

.case-item-description.fill {
    width: 100%;
    font-size: 15px;
    line-height: 28px;
    margin-top: 20px;
    color: #666;
}
.case-item-description img {
    border: 1px solid #efefef;
    margin: 10px 0 0;
}

.case-item-img {
    position: absolute;
    width: 300px;
    top: 0;
    right: 0;
}

/*popup style*/
.bui-popup-wrapper {
    display: none;
    margin-left: 32px;
    font-family: "Microsoft Yahei", "å¾®è½¯é›…é»‘", "Tahoma", "Arial", "Helvetica";
}

.bui-popup-mask {
    padding: 0;
    margin: 0;
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    _width: 10000px;
    _height: 10000px;
    _overflow: hidden;
    background-color: grey;
    z-index: 10010;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.bui-popup {
    position: fixed;
    _position: absolute;
    left: 50%;
    margin-left: -200px;
    background-color: #fefefe;
    z-index: 10086;
    font-size: 14px;
    box-shadow: 0 0 18px 2px grey;
    text-align: left;
    border: 1px solid #f6f9fe;
    border-radius: 4px;
}

.bui-popup-title {
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
    color: #2182e9;
    background: #f1f5fd;
    border-bottom: 1px solid #b0c0e7;
}

.bui-popup-close {
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    color: #666;
    float: right;
    cursor: pointer;
}

.bui-popup-close-wrapper {
    height: 30px;
    z-index: 10086;
}

.bui-popup-close-content {
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    background-color: #666;
    float: right;
    cursor: pointer;
    color: #fefefe;
    display: flex;
    justify-content: center;
}

.bui-popup-content {
    padding: 40px 40px 20px 40px;
    line-height: 30px;
}

.bui-popup-content-row {
    line-height: 20px;
}

.bui-popup-footer {
    padding: 0px 20px 40px 20px;
    text-align: center;
}

.bui-popup-trade {
    width: 1280px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10086;
    transform: translate(-50%, -50%);
}

.bui-popup-trade-content {
    left: 50%;
    width: 1280px;
    height: 492px;
    background: no-repeat url(//mark-audio.bj.bcebos.com/banner-trade.png);
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
}

.bui-popup-trade-title {
    display: block;
    margin-left: 100px;
    line-height: 40px;
    margin-bottom: 25px;
    font-size: 38px;
    font-weight: 700;
    color: #fff;
    width: 1280px;
}

.bui-popup-desc {
    display: block;
    margin-left: 100px;
    line-height: 28px;
    font-size: 16px;
    color: #fff;
    width: 1280px;
}

.bui-popup-link {
    line-height: 40px;
    height: 40px;
    background: #fff;
    margin-top: 40px;
    margin-left: 100px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px 0 15px;
    border-radius: 8px;
    transition: width 0.4s;
}

.bui-popup-link-content {
    color: #4456dc;
    font-size: 14px;
}

.bui-popup-link .bui-popup-link-content::after {
    content: '';
    background: url(//mark-audio.bj.bcebos.com/arrow.jpg) no-repeat center;
    background-size: 20px 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 10086;
    width: 18px;
    height: 10px;
    padding: 14px 0;
}

.custom-section.section-banner {
    background-image: url(/mark/static/img/zhongbao/newly/custom_banner.png);
    -webkit-background-size: 100%;
    background-size: cover;
    width: 100%;
    height: 220px;
    padding-top: 30px;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.banner-line {
    width: 960px;
    height: 3px;
    background-color: #a2a2a8;
    margin: auto;
    position:relative;
}

.banner-line .circular {
    width: 10px;
    height: 10px;
    border-radius: 5px;/* Opera 10.5+, ä»¥åŠä½¿ç”¨äº†IE-CSS3çš„IEæµè§ˆå™¨ */
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari å’Œ Chrome */
    background-color: #52a7fd;
    display: inline-block;
    position: absolute;
    left: 0;
    margin-top: -3px;
}

.banner-line .circular:nth-child(2) {
    left: 320px;
}
.banner-line .circular:nth-child(3) {
    left: 640px;
}
.banner-line .circular:nth-child(4) {
    left: 960px;
}

.banner-step {
    width: 1100px;
    margin: auto;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 90px;
    min-width: 400px;
    position: relative;

}
.banner-item {
    display: inline-block;
    margin-top: 30px;
    margin-right:120px;
}

.banner-step .banner-item:last-child {
    margin-right: 0;
}

.custom-banner-icon {
    background-size: cover;
    background-image: url(../../../img/zhongbao/new/custom_step.png);
    width: 230px;
    height: 70px;
    display: inline-block;
    position: absolute;
    left: 0;
}

.section-banner .banner-step .mark {
    background-position: 0 -68px;
    left: 320px;
}

.section-banner .banner-step .verify {
    background-position: 0 -138px;
    left: 640px;
}

.section-banner .banner-step .data {
    background-position: 0 -204px;
    left: 960px;
}

.custom-banner-icon .custom-banner-text {
    font-size: 16px;
    line-height: 16px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    padding-left: 105px;
    padding-top: 18px;
    text-align: left;
}

.custom-banner-icon .custom-banner-text {
    display: block;
    margin-left: 15px;
}

.banner-apply {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    min-width: 180px;
}
.apply-now {
    display: inline-block;
    color: #fff;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(37,133,235, 0.5);
    text-decoration: none;
    border-radius: 20px;
    width: 180px;
    height: 40px;
    font-size: 18px;
    border: 1px solid #3999fa;
}

.apply-now:hover {
    color: #dddddd;
    border-color: #3999fa;
}

.custom-type-tab,
.scene-type-tab {
    display: inline-block;
    border-bottom: 1px solid;
    border-color: #DDD;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 720px;
}

.scene-step-content-block {
    display: inline-block;
    width: 720px;
    vertical-align: top;
}

.custom-section.section-type,
.custom-section.section-demand,
.scene-section.section-type
/* .contact-section.section-type */
{
    width: 1100px;
    margin: auto;
    padding-top: 50px;
}

.custom-section.section-demand {
    padding-bottom: 80px;
}
.scene-section.section-type {
    margin-bottom: 50px;
}

.custom-type,
.custom-demand,
.scene-type
/* .contact-type  */
{
    display: inline-block;
    line-height: 40px;
    font-size: 24px;
    color: #333;
    width: 345px;
    position: relative;
    left: 0;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.custom-type::before,
.custom-demand::before,
.scene-type::before
/* .contact-type::before */
 {
    display: inline-block;
    height: 24px;
    width: 4px;
    content: "";
    background-color: #1F87ED;
    margin-right: 10px;
    margin-bottom: -3px;
}

.custom-sub-type,
.scene-sub-type {
    display: inline-block;
    height: 40px;
    border-bottom: 2px transparent;
    text-align: center;
    margin-right: 70px;
    vertical-align: middle;
    font-size: 14px;
    color: #333;
    padding: 10px 10px 10px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: -1px;
}

.custom-sub-type.active,.scene-sub-type.active {
    border-bottom: 2px solid #3999fa;
}

.custom-sub-type-content.hide,.custom-sub-type.hide {
    display: none;
}

.scene-type-tab {
    margin-bottom: 40px;
}

.custom-sub-type:hover,
.scene-sub-type:hover {
    border-bottom: 2px solid #52a7fd;
    color: #333;
    cursor: pointer;
}

.custom-type-content-block,
.scene-type-content-block {
    width: 1100px;
    height: auto;
    margin: auto;
    position: relative;
    padding-top: 40px;
    vertical-align: top;
    display: inline-block;
}


.custom-sub-type-content,
.scene-sub-type-content {
    width: 755px;
    position: relative;
    margin-left: 345px;
    vertical-align: top;
    margin-bottom: 40px;
    border-bottom: 1px dashed #dddddd;
    padding-bottom: 60px;
}
/* 
.custom-demand-content-block p {
    display: inline-block;
    min-width: 110px;
    text-align: right;
    margin-right: 20px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    box-sizing: border-box;
} */
.bui-popup-customer-row .error {
    color: red;
}
.bui-popup-customer-row .error.message {
    margin-left: 15px;
}

.bui-popup-customer-row .error.hide{
    display: none;
}

.bui-popup-customer-row .error.message.code.hide{
    display: none;
}


.bui-popup-customer-row.personal-code input {
    width: 170px;
}
.send-code {
    display: inline-block;
    width: 147px;
    height: 30px;
    border: 1px solid;
    text-align: center;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #52a7fd;
    cursor: pointer;
    margin-left: -5px;
    vertical-align: middle;
    line-height: 30px;
}


.send-code.invalid {
    color:grey;
    cursor: default;
}


.error.message.submit{
    color:red;
    margin-left:15px;
    display:inline-block;
    font-size: 13px;
}
.error.message.submit.hide {
    display:none;
}


.bui-popup-customer-row {
    min-height:30px;
    margin-bottom:30px;
    font-size:13px;
}

.scene-sub-type-content {
    border: 0;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.custom-sub-type-content label,
.scene-sub-type-content label{
    font-size: 18px;
    color: #333;
    line-height: 40px;
}

.custom-type-content-text,
.scene-type-content-text {
    /*margin-left: 345px;*/
    width: 500px;
    font-size: 14px;
    color: #999;
    line-height: 26px;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 40px;
}
.custom-sub-type-img,
.scene-sub-type-img {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 0;
    margin-right: 110px;
    right: 80px;
    margin-top: 10px;
    float: right;
    vertical-align: top;

}
.custom-sub-type-content img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #efefef;
}

.scene-step-card {
    vertical-align: top;
    display: inline-block;
    width: 148px;
    border:1px solid #3999fa;
    border-radius: 3px;
    color: #999;
    font-size: 14px;
}

.scene-step-title {
    height: 68px;
    line-height: 68px;
    text-align: center;
    border-bottom: 1px solid #3999fa;
    font-size: 20px;
    color: #3999fa;
    background: url(/mark/static/img/zhongbao/newly/step_title.png) 0 0 no-repeat #ebf5fe;
}

.scene-step-content-block .scene-step-card:nth-child(3) .scene-step-title {
    background: url(/mark/static/img/zhongbao/newly/step_title.png) 0 -68px no-repeat #ebf5fe;
}

.scene-step-content-block .scene-step-card:nth-child(5) .scene-step-title {
    background: url(/mark/static/img/zhongbao/newly/step_title.png) 0 -136px no-repeat #ebf5fe;
}

.scene-step-content-block .scene-step-card:nth-child(7) .scene-step-title {
    background: url(/mark/static/img/zhongbao/newly/step_title.png) 0 -204px no-repeat #ebf5fe;
}

.scene-step-content {
    height: 118px;
    padding: 20px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 24px;
}

.scene-step-connect {
    height: 190px;
    display: inline-block;
    width: 40px;
    background: url(/mark/static/img/zhongbao/newly/step_connect.png) no-repeat center;
}

.scene-button-wrap .apply-now {
    font-size: 16px;
}

.scene-button-wrap .apply-custom {
    margin-left: 20px;
    font-size: 16px;
    color: #b5daff;
    text-decoration: underline;
}

.scene-button-wrap {
    margin-top: 14px;
}



.contact-content.bottom {
    font-size: 16px;
    border-bottom: 0;
}

.contact-content .item {
    vertical-align: top;
    display: inline-block;
    height: 40px;
    padding-left: 50px;
    margin-right: 215px;
}

.contact-content .item.email {
    background: url(/mark/static/img/zhongbao/newly/contact_icons.png) -4px -4px no-repeat;
}

.contact-content .item.qq {
    background: url(/mark/static/img/zhongbao/newly/contact_icons.png) -4px -52px no-repeat;
}

.contact-content .item.yeying {
    margin-right: 0;
    background: url(/mark/static/img/zhongbao/newly/contact_icons.png) -4px -100px no-repeat;
}

.contact-service-wrap {
    overflow: hidden;
    margin-bottom: 44px;
    margin-top: 45px;
}

.contact-service-item {
    width: 431px;
    float: left;
}

.contact-item-icon {
    width: 149px;
    height: 98px;
    margin-left: 141px;
}

.contact-item-title {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-top: 28px;
}

.contact-item-text {
    word-wrap: break-word;
    color: #999;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
}

.contact-service-btn {
    width: 80px;
    height: 30px;
    background: #52a7fd;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    color: #fff;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 45px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}



.toggle-language {
    width: 30px;
    height: 30px;
    /* -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    border: 1px solid #b0b0b0; */
    color: #333333;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    position: fixed;
    right: 50px;
    top: 15px;
    cursor: pointer;
}
.service-img {
    background-size: cover;
}

.contact-icon1 {
    background-image: url(../../../img/zhongbao/contact-icon1.png);
}

.contact-icon2 {
    background-image: url(../../../img/zhongbao/contact-icon2.png);
}

@keyframes banner-slide-20 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
@-webkit-keyframes banner-slide-40 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -40px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0)
    }
}
@keyframes banner-slide-40 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -40px, 0);
        transform: translate3d(0, -40px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
@-webkit-keyframes banner-slide-60 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -60px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0)
    }
}
@keyframes banner-slide-60 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -60px, 0);
        transform: translate3d(0, -60px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
@-webkit-keyframes banner-slide-80 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -80px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0)
    }
}
@keyframes banner-slide-80 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -80px, 0);
        transform: translate3d(0, -80px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
@-webkit-keyframes re-banner-slide-20 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0)
    }
}
@keyframes re-banner-slide-20 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
@-webkit-keyframes re-banner-slide-40 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 40px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0)
    }
}
@keyframes re-banner-slide-40 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
@-webkit-keyframes re-banner-slide-60 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 60px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0)
    }
}
@keyframes re-banner-slide-60 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 60px, 0);
        transform: translate3d(0, 60px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes re-banner-slide-80 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 80px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0)
    }
}
@keyframes re-banner-slide-80 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 80px, 0);
        transform: translate3d(0, 80px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@media only screen and (min-device-pixel-ratio: 2) {
    .section-banner .banner-step .custom-icon {
        background-image: url(../../../img/zhongbao/new/custom_step_2.png);
        width: 230px;
        height: 60px;
        display: inline-block;
        position: absolute;
        left: 0;
    }

    .section-banner .banner-step .mark {
        background-position: 0 -68px;
        left: 320px;
    }

    .section-banner .banner-step .verify {
        background-position: 0 -138px;
        left: 640px;
    }

    .section-banner .banner-step .data {
        background-position: 0 -204px;
        left: 960px;
    }

    .contact-icon1 {
        background-image: url(../../../img/zhongbao/contact-icon1_2.png);
    }

    .contact-icon2 {
        background-image: url(../../../img/zhongbao/contact-icon2_2.png);
    }
}

.clear {
    clear: both;
}

.zui-header-menu-item-checked > a{
    /* border-bottom: 2px solid #108CEF; */
    color: #2467F2 !important;
    font-size:14px;
    position: relative;
    font-weight: 600;
}
.zui-header-menu-item-checked > a::after {
    content: '';
    height: 2px;
    position: absolute;
    width: 90%;
    bottom: -1px;
    left: 5%;
    background-color: #2467F2;
}




.videomodel {
    width:100%;
    height:100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0,0,0,.5); 
    display: none;
    z-index: 10000;
}
.videomodel .video {
    /* max-width: 1920px; */
    margin-top: 50px;
    position: relative;
    margin: 0 auto;
    width: 80%;
    max-width: 1920px;
    display: block;
}
.closeBtn {
    position: absolute;
    right:40px ;
    top: 40px;
    width: 32px;
    height: 32px;
    pointer-events: auto;
    z-index: 9999999999999;


}
.closeBtn img {
    width: 100%;
    height: 100%;
}
.videomodel .video  .top {
    height: 120px;
    background-color: #000;
}
.videomodel .video video{
    width: 100%;
    /* display: block;
    margin: 0 auto; */
}



.bgbtn:hover {
    box-shadow:0px 8px 16px 0px rgba(21,59,223,1);
    border: none;
    color: #2467F2;
    /* background-color: #3559F2; */
    /* color: #fff; */
}
/* .bluebtn:hover,.normalbtn:hover {
    color: #fff;
} */

.bgbtn {
    height: 40px;
    width: 160px;
    display: block;
    border-radius: 20px;
    background-color: #fff;
    line-height: 40px;
    text-align: center;
    display: block;
    color: #2467F2;
    /* border:1px solid rgba(36,103,242,1); */
    box-sizing: border-box;
    cursor: pointer;
    transition: all .2s;
}

.bui-btn.js-popup-retry
{
    border: 1px solid #489af0;
    background: #489af0;
    color: #fff;
}