* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 20px;
    font-family: PingFangSC-Regular, 'Microsoft YaHei';
    color: #110d28;
    line-height: 36px;
}

h1 {
    font-size: 40px;
    font-family: PingFangSC-Medium,'Microsoft YaHei';
    line-height: 56px;
    text-align: center;
    font-weight: normal;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

li {
    display: inline-block;
    float: left;
}

img {
    border: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 18px;
    color: #110D28;
    line-height: 42px;
}

.clean:after {
    content: "";
    display: block;
    clear: both;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.tar {
    text-align: right;
}

.layer {
    width: 1200px;
    margin: auto;
}

    .layer:after {
        content: "";
        display: block;
        clear: both;
    }

.mgmx {
    margin-top: 100px;
    margin-bottom: 100px;
}

    .mgmx h4 {
        font-size: 30px;
        font-weight: normal;
    }

.mgbt {
    margin-top: 100px;
}

.splitline {
    width: 49px;
    height: 1px;
    margin: auto;
    border-top: 6px solid #50E3C2;
}

.pagehead {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    line-height: 70px;
    margin: auto;
    background: #110d28;
    color: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0,21,41,0.12);
    z-index: 100;
}

    .pagehead ul {
    }

    .pagehead li {
        position: relative;
        margin-left: 52px;
    }

    .pagehead a:hover:after,
    .pagehead a.active:after,
    .srvnav a.active:after,
    .srvnav a:hover:after {
        content: "";
        display: block;
        width: 31px;
        height: 3px;
        margin: auto;
        margin-top: -18px;
        background-color: #50E3C2;
    }

.banner {
    width: 100%;
    height: 485px;
    margin-top: 70px;
    background-color: #110D28;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-bg {
    width: 100%;
    background-color: #110D28;
    background-position: center;
    background-repeat: no-repeat;
}

.kvnav {
    position: relative;
    width: 1200px;
    height: 130px;
    padding: 44px;
    margin: auto;
    margin-top: -60px;
    background-color: #fff;
    box-shadow: 0 1px 8px #dadade;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#dadade', Direction=225, Strength=5);
}

    .kvnav a {
        display: inline-block;
        width: 49%;
        font-size: 30px;
        font-family: PingFangSC-Medium,'Microsoft YaHei';
        text-align: center;
    }

    .kvnav img {
        vertical-align: middle;
    }

.brief {
    margin: 102px auto;
}

.txttitle {
    width: 484px;
    height: 62px;
    font-size: 44px;
    font-family: PingFangSC-Medium,'Microsoft YaHei';
    line-height: 62px;
}

.txtsplit {
    width: 49px;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 6px solid #50E3C2;
}

.txtbrief {
    width: 448px;
    height: 108px;
    font-size: 20px;
    line-height: 36px;
}

.support {
    width: 1400px;
    /*height: 815px;*/
    margin: auto;
    padding: 57px 100px 36px 100px;
    text-align: center;
    /*background: url(../img/support.png);*/
}

    .support h1 {
        color: #fff;
    }

    .support ul {
        margin-top: 75px;
    }

    .support li {
        position: relative;
        width: 266px;
        height: 232px;
        padding: 40px 57px;
        margin-right: 45px;
        margin-bottom: 50px;
        background: #fff;
        overflow: hidden;
    }

        .support li:nth-child(4n) {
            margin-right: 0;
        }

    .support .frame {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .support .srvitem {
        position: relative;
        top: 16px;
        width: 100%;
        height: 100%;
        transition: top 0.7s ease;
    }

    .support img {
        display: block;
        position: relative;
        top: 0;
        width: 73px;
        margin: auto;
        margin-bottom: 1em;
        height: 65px;
    }

    .support .description {
        display: block;
        position: absolute;
        top: 200px;
        left: 0;
        padding: 89px 26px 0 26px;
        font-size: 14px;
        line-height: 1.5;
        transition: top 0.7s ease;
    }

    .support li:hover .description {
        display: block;
        top: 0;
    }

    .support li:hover .srvitem {
        top: -90px;
    }

.partner {
    margin: 72px auto 118px auto;
}

.history {
    width: 1400px;
    height: 980px;
    margin: auto;
    padding-top: 35px;
    color: #000C17;
    /*background: url(../img/support.png);*/
}

    .history h1 {
        color: #fff;
    }

    .history .list {
        width: 1200px;
        height: 676px;
        margin: auto;
        margin-top: 65px;
        padding: 82px 100px;
        background-color: #fff;
    }

.year {
    font-size: 30px;
    line-height: 42px;
    width: 120px;
    height: 146px;
}

.vline {
    position: relative;
    width: 1px;
    top: 16px;
    height: 448px;
    border: 0;
    border-left: 1px dashed #000C17;
}

.dot {
    position: relative;
    left: -8px;
    top: -16px;
    height: 146px;
    font-size: 30px;
    line-height: 36px;
}

.incident {
    max-width: 720px;
    height: 146px;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 95px;
}

    .incident h3 {
        margin: 0;
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 15px;
    }

.srvnav {
    width: 100%;
    height: 92px;
    margin-top: 70px;
    padding: 10px 0;
    line-height: 72px;
    background: #fff;
    box-shadow: 0px 2px 12px 0px rgba(42,53,62,0.08);
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#dadade', Direction=180, Strength=5);
}

    .srvnav ul {
        width: 1200px;
        margin: auto;
    }

    .srvnav li {
        margin-right: 60px;
    }

        .srvnav li:last-child {
            margin-right: 0;
        }

.srvlist {
    width: 1200px;
    margin: auto;
    padding-top: 50px;
}

    .srvlist li {
        margin-right: 110px;
        margin-bottom: 70px;
        width: 150px;
        height: 170px;
        text-align: center;
    }

    .srvlist img {
        display: block;
        width: 123px;
        height:123px;
        margin: auto;
        margin-bottom: 10px;
    }

    .srvlist a {
        display: block;
        font-size: 16px;
    }

.moresrv {
    width: 100%;
    padding: 100px 0;
    font-size: 16px;
    text-align: center;
}

.foot {
    width: 100%;
    height: 251px;
    padding: 40px 100px;
    font-size: 18px;
    color: #fff;
    background: #110D28;
}

    .foot ul {
        margin-top: 16px;
        margin-bottom: 10px;
    }

    .foot li {
        margin-right: 20px;
    }

    .foot .addr {
        font-size: 12px;
        line-height: 30px;
    }

    .foot .contact {
        font-size: 14px;
        line-height: 30px;
    }

    .foot h3 {
        font-size: 18px;
        font-weight: normal;
        margin: 0;
        margin-bottom: 1.5em;
    }

/*.foot .info {
        font-size: 14px;
    }*/

.qr {
    position: relative;
}

.qrcode {
    display: none;
    position: absolute;
    top: -141px;
    left: -42px;
    width: 140px;
    height: 140px;
    z-index: 10;
}

    .qrcode img {
        display: block;
        width: 100%;
    }

.qr:hover .qrcode {
    display: block;
}
